
<div class="row">
    <div class="pull-right">
        <i class="fa fa-university" aria-hidden="true"></i> <a href="/user/account">My Winnings ($xx.xx)</a>
    </div>
</div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="single-blog two-column">
                <div class="post-content overflow">
                    <h2 class="post-title bold"><a href="blogdetails.html">New Super Bowl Game</a></h2>
                    <h3 class="post-author"><a href="#">Posted on 1/25/2016</a></h3>
                    <p>We just created a new game for the super bowl.  It is called "The Big Game".  Create any league you want for this by.....</p>
                    <div class="post-bottom overflow">
                        <ul class="nav navbar-nav post-nav">
                            <li><a href="../user/league/create"><i class="fa fa-trophy"></i>Create leagues here!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="single-blog two-column">
                <div class="post-content overflow">
                    <h2 class="post-title bold"><a href="blogdetails.html">New Game Management Featured Released!</a></h2>
                    <h3 class="post-author"><a href="#">Posted on 1/24/2016</a></h3>
                    <div class="post-thumb" style="width:75%; padding-top:15px; padding-left:45px; padding-bottom:15px;">
                        <a href="blogdetails.html"><img src="/Images/RoundManager.png" class="img-responsive" alt=""></a>
                    </div>
                    <p>
                        Hey, we just created a feature that allow you to create your own games. This is pretty awesome and so we need to describe it better than this...
                        This is pretty awesome and so we need to describe it better than this...
                        This is pretty awesome and so we need to describe it better than this...
                        This is pretty awesome and so we need to describe it better than this...
                        Also, do we want a picture like above, or just this text?
                    </p>
                    <div class="post-bottom overflow">
                        <ul class="nav navbar-nav post-nav">
                            <li><a href="../user/game/details/0"><i class="fa fa-trophy"></i>Create a new Game here!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- EXAMPLE TEMPLATE -->
    <!--<div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="single-blog two-column">
                <div class="post-content overflow">
                    <h2 class="post-title bold"><a href="blogdetails.html">HEADER</a></h2>
                    <h3 class="post-author"><a href="#">POSTED ON DATE</a></h3>
                    <p>TEXT BODY</p>
                    <div class="post-bottom overflow">
                        <ul class="nav navbar-nav post-nav">
                            <li><a href="#"><i class="fa fa-tag"></i>OPTIONAL LINK HERE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
