
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="single-blog two-column">
            <!--<div class="post-thumb">
                <a href="blogdetails.html"><img src="../images/blog/7.jpg" class="img-responsive" alt=""></a>
                <div class="post-overlay">
                    <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                </div>
            </div>-->
            <div class="post-content overflow">
                <h2 class="post-title bold"><a href="blogdetails.html">League Notes and Updates</a></h2>
                <p>Join league and new league information will be shown here.</p>
            </div>
        </div>
    </div>
</div>
