
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="single-blog two-column">
            <div class="post-content overflow">
                <h2 class="post-title bold"><a href="blogdetails.html">Update to LineUp site</a></h2>
                <h3 class="post-author"><a href="#">Posted on 10/16/2016</a></h3>
                <p>The LineUp site has been updated and includes many fixes that were pointed out to us as well as a few new features. Thank you very much for your feedback. The main change you will notice is that the selections will now be greyed out when making your picks after you have reached the max number of picks. Hopefully this helps you keep better track of how many selections you've made of each number.</p>
            </div>
        </div>
    </div>
</div>

<!-- EXAMPLE TEMPLATE -->
<!--<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="single-blog two-column">
            <div class="post-content overflow">
                <h2 class="post-title bold"><a href="blogdetails.html">HEADER</a></h2>
                <h3 class="post-author"><a href="#">POSTED ON DATE</a></h3>
                <p>TEXT BODY</p>
                <div class="post-bottom overflow">
                    <ul class="nav navbar-nav post-nav">
                        <li><a href="#"><i class="fa fa-tag"></i>OPTIONAL LINK HERE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->
