<div class="container-fluid">
    <div class="row">
        <h2 class="faq-text">Frequent Questions</h2>
    </div>
    <div class="row">
        <h5 class="faq-text">Simple answers to your most common questions</h5>
    </div>

    <div class="row faq-body">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            <!-- add `multiple` attribute to allow multiple sections to open at once -->
            <v-accordion class="vAccordion--default" multiple>

                <!-- add expanded attribute to open the section -->
                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">I have a question that isn't answered here, who do I contact?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Write us at support@lineupconfidence.com, we'll get back to you right away!</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">I'm having an issue with my game (app issues, I think something was scored wrong, etc.)</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Write us at support@lineupconfidence.com, we'll get back to you right away!</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">How do I play LineUp Confidence?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer"> We launched LineUp Confidence with one simple form factor to start.   </span>
                        <ul>
                            <li>A game creator (just the site admin for now, but soon everyone will have an opportunity to create any game they can think of) puts in a list of binary outcome events which can be described and objectively scored each week or other defined period.</li>
                            <li>A league commissioner creates a league for the game and either invites their friends to play in a password protected league, or leaves the league open for anyone on LineUp to join.</li>
                            <li>layers will then predict the outcome of each matchup, and assign that outcome a confidence level (1 being the lowest, 5 being the highest). Each confidence number must be used an equal number of times, so if there are 10 outcomes to predict, use each number twice, if 15 outcomes, use each number three times, etc.</li>
                            <li>For each correct prediction, players receive the number of confidence points they assigned to that prediction. There are no negative penalties for incorrect guesses. Most points wins!</li>
                        </ul>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">Will there be other types of games in the future?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">That’s the plan! But right now, only Confidence Pools as described above. If you have other ideas for gambling pools to play with your friends, send them to support@lineupconfidence.com and we’ll consider them for future development.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">Can I play a game with just my friends?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Yes.  The league commissioner can create a password protected league and invite friends via email.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">Can I play a game with strangers?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Yes.  You can join any public, non-password protected league, or create your own open league as a league commissioner.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">If I forget to make picks for a given week/episode, what happens?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">You should not do this.  But if you do, you will receive 0 points for that week.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">So are we playing for real money?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">We have created the ability to track winnings if you do bet, but we won't police local rules on if you are allowed to bet on individual games.  Please check the rules of your state.</span>
                    </v-pane-content>
                </v-pane>
                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">If I am able to bet real money, how are payments handled?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <ul class="faq-answer">
                            <li>LineUp Confidence tracks winnings, but we don't handle payments.  If you're playing in a closed league with friends, however you settle up with friends is up to you.  If playing with strangers, we recommend a service like LeagueSafe.</li>
                            <li>If the game is played for money, league commissioners can allocate a percentage of the pot to be paid to the winner of each week/episode, and a percentage to the overall winner. LineUp will track each week’s winnings, and you can settle up outside the app, if it’s legal in your state to do so.</li>
                        </ul>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">Do you charge anything for the app?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">LineUp is currently 100% free. As we improve the app and develop a wider user base, we may come up with a subscription based service whereby a modest fee allows access to a greater number/variety of games. Before any change in fee structure happens, we will be sure to inform the community well in advance.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">I want to create a game on LineUp, how do I do it?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Right now game creation is limited to just the site administrators, while we work on improving the user interface. But soon anyone will be able to quickly and easily create their own games. In the meantime, if you have a great idea for a game, send it our way at support@lineupconfidence.com, and we may be able to get it up for you and your friends to play.</span>
                    </v-pane-content>
                </v-pane>

            </v-accordion>

        </div>
    </div>

</div>
