<div class="container-fluid">
    <div class="row">
        <h2 class="faq-text">Frequent Questions</h2>
    </div>
    <div class="row">
        <h5 class="faq-text">Simple answers to your most common questions</h5>
    </div>

    <div class="row faq-body">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            <!-- add `multiple` attribute to allow multiple sections to open at once -->
            <v-accordion class="vAccordion--default" multiple>

                <!-- add expanded attribute to open the section -->
                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">I have a question that isn't answered here, who do I contact?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Write us at support@lineupconfidence, we'll get back to you right away!</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">I'm having an issue with my game (app issues, I think something was scored wrong, etc.)</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Write us at support@lineupconfidence, we'll get back to you right away!</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">What type of games are available to play on LineUp Confidence?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer"> We launched LineUp Confidence with one simple form factor to start.   </span>
                            <ul>
                                <li>A game creator puts in a list of binary outcome events which can be described and objectively scored each week or other defined period.</li>
                                <li>A league commissioner creates a league for the game and invites their friends (password protected league) or strangers (no password protection) to play.</li>
                                <li>Players can pick each outcome and relative confidence level from 1-5 (so if there are 10 outcomes to predict, use each number twice, if 15 outcomes, use each number three times, etc.)</li>
                                <li>If the game is played for $, league commissioners can allocate a percentage of the pot to each week/episode, and a percentage to the overall winner.</li>                              
                            </ul>        
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">Can I play a game with just my friends?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Yes.  The league commissioner can create a password protected league, then e-mail your friends the password.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">Can I play a game with strangers?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Yes.  You can join any non-password protected league, or create your own open league as a league commissioner.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">If I forget to make picks for a given week/episode, what happens?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">You should not do this.  But if you do, currently we are set up to give you 0</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">When can we play for $ and when can't we?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Games on LineUp Confidence can be about anything.  They can be fantasy sports, they can be politics, they can be about tv shows or the stock market.  We have created the ability to track winnings if you do bet, but we won't police local rules on if you are allowed to bet on individual games.  Please check the rules of your state.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">If I am able to bet real money, how are payments handled?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">LineUp Confidence tracks winnings, but we don't handle payments.  If you're playing in a closed league with friends, however you settle up with friends is up to you.  If playing with strangers, we recommend a service like LeagueSafe.</span>
                    </v-pane-content>
                </v-pane>
                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">Do you charge anything for the app?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Not yet, but we will.  We've put money and time into LineUp Confidence and we want to keep putting more money ni to create an increasingly flexible game platform. We plan to have a fremium model and charge ~$5/year for people who play more a than a few games.  Apple gets their cut, and people like you who create popular games on the platform will also get a cut. </span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">I want to create a game on LineUp, how do I do it?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Creating and administrating a game on LineUp is easy and fun.  Since the app is brand new (Aug 2016), we're still running the process more tightly than we anticipate in teh future, but e-mail us at ideas@lineupconfidence and we'll help you get set up.  Then it takes no more than a few minutes a week, less than using spreadsheets with your friends.</span>
                    </v-pane-content>
                </v-pane>

                <v-pane>
                    <v-pane-header>
                        <span class="faq-question">If I create a popular game, do I get anything?</span>
                    </v-pane-header>

                    <v-pane-content>
                        <span class="faq-answer">Yes!  The pride of spending less time to make a game for just your friends, but getting to watch it played by others.  And ... when we start charging a small annual subscription for the app, if your game is popular, you'll get a share of our revenue.</span>
                    </v-pane-content>
                </v-pane>

            </v-accordion>

        </div>
    </div>

</div>
