<div class="container-fluid" ng-controller="leagueJoinCtrl">

    <!-- Header -->
    <div class="row">
        <div class="price-table2">
            <div class="row">
                <div>
                    <div class="single-table table-one">
                        <div class="table-header">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loader pull-right" ng-hide="detailsScope.loaded"></i>
                            <h2>{{detailsScope.header}}</h2>
                            <p class="plan-price"><span class="dollar-sign"></span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-show="detailsScope.loaded" ng-form="detailsForm">

        <!-- Input Fields -->
        <div class="row" ng-show="detailsScope.detailsObject.is_private" ng-class="{ 'has-error' : detailsScope.detailsObject.is_private && detailsForm.pass.$invalid && detailsScope.submitted }">
            <div class="form-group">
                <div class="col-md-3">
                    League Password
                </div>
                <div class="col-md-9">
                    <input type="password" class="form-control" ng-model="joinObject.password" ng-required="detailsScope.detailsObject.is_private">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    Team Name
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="joinObject.league_team_name">
                </div>
            </div>
        </div>

        <hr />

        <!--<button type="button" class="btn btn-primary" ng-disabled="disableJoin()" ng-click="join(detailsForm.$valid)">Join</button>-->

        <!-- Free League UI -->
        <div ng-if="leagueFee == null || leagueFee == 0">

            <hr />

            <p>
                This is a FREE league!
            </p>

            <button type="button" class="btn btn-primary" ng-disabled="disableJoin()" ng-click="join(detailsForm.$valid)">Join</button>
        </div>


        <!-- Paid League UI -->
        <div ng-if="detailsScope.detailsObject.price != null && detailsScope.detailsObject.price > 0">

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        League payment
                    </div>
                    <div class="col-md-9">
                        <span>${{leagueFee}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        Trasaction Fee
                    </div>
                    <div class="col-md-9">
                        <span>${{transactionFee(leagueFee)}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        LineUp Fee
                    </div>
                    <div class="col-md-9">
                        <span>${{lineupFee}}</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        Total
                    </div>
                    <div class="col-md-9">
                        <span>${{totalPayment(leagueFee,transactionFee(leagueFee),lineupFee)}}</span>
                    </div>
                </div>
            </div>

            <br />
            <br />


            <div class="well" style="background-color:white">

                <!-- braintree form -->
                <form id="checkout" method="post" action="/League/JoinAndPay">
                    <div ng-hide="true">
                        <input name="id" id="id" class="form-control" ng-model="detailsScope.id">
                        <input name="name" id="name" class="form-control" type="text" ng-model="joinObject.league_team_name">
                        <input name="password" id="password" type="password" class="form-control" ng-model="joinObject.password">
                        <input name="amount" id="amount" class="form-control" ng-model="totalPayment(leagueFee,transactionFee(leagueFee),lineupFee)">
                    </div>

                    <div id="payment-form"></div>
                    <br />
                    <input class="btn btn-primary" type="submit" value="Join and Pay ${{totalPayment(leagueFee,transactionFee(leagueFee),lineupFee)}}" ng-disabled="disableJoin()">

                </form>

            </div>
        </div>
    </div>

</div>


