<div class="container-fluid" ng-controller="leagueSelectCtrl">
    <div class="row">

        <div class="price-table2">
            <div class="row">
                <div>
                    <div class="single-table table-one">
                        <div class="table-header">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loader pull-right" ng-show="detailsScope.loading"></i>
                            <h2>{{detailsScope.header}}</h2>
                            <p class="plan-price"><span class="dollar-sign"></span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-hide="detailsScope.loading">

        <div class="row">
            Select Game Type
        </div>
        <div class="row">

            <select name="gameTypeID" class="form-control" ng-model="search.game_type_id">
                <option ng-repeat="option in lookupOptions.GameTypes" value="{{option.Lookup_ID}}">{{option.Lookup_Name}}</option>
            </select>
        </div>

        <div class="row" style="margin-top:20px;">
            Select your league
        </div>


        <div class="row" ng-show="search.game_type_id">

            <div class="col-md-4">

                <v-tabs class="vTabs--default" vertical active="activeTabIndex">
                    <v-tab ng-click="select(league)" ng-repeat="league in lookupOptions.Leagues | filter:search:strict">
                        <i class="fa fa-lock locked-league" ng-show="league.is_private"></i><span>{{league.name}}</span>
                    </v-tab>
                </v-tabs>
            </div>


            <div class="col-md-6" ng-show="detailsScope.detailsObject">
                <p>
                    <b> {{detailsScope.detailsObject.name}}</b>
                </p>
                <p>
                   Description: {{detailsScope.detailsObject.description}}
                </p>
                <p>
                   Rounds: {{detailsScope.detailsObject.number_of_rounds}}
                </p>
                <p>
                    Buy-In: ${{detailsScope.detailsObject.price}}
                </p>
            </div>
            <div class="col-md-2" ng-show="detailsScope.detailsObject">
                <div class="row form-group">
                    <a href="/user/league/join/{{detailsScope.detailsObject.id}}" class="btn btn-primary" style="color:white">Join</a>
                </div>

            </div>

        </div>

    </div>
</div>