


<div class="container-fluid" ng-controller="leagueDetailsCtrl">

    <div class="row">

        <div class="price-table2">
            <div class="row">
                <div>
                    <div class="single-table table-one">
                        <div class="table-header">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loader pull-right" ng-show="detailsScope.loading"></i>
                            <h2>{{detailsScope.header}}</h2>
                            <p class="plan-price"><span class="dollar-sign"></span></p>
                        </div>
                        <div class="container-fluid">
                            <div class="row col-md-6">
                                <ul>
                                    <li>League Pot: {{detailsScope.detailsObject.total_pot | currency }}</li>
                                    <li>Total Teams: {{detailsScope.detailsObject.league_teams.length }} </li>
                                    <li ng-if="detailsScope.detailsObject.is_manager">
                                        <b><a href="/user/league/manage/{{detailsScope.detailsObject.id}}">Manage League Settings (New!)</a></b>
                                    </li>
                                </ul>
                            </div>
                            <div class="row col-md-6">
                                <ul>
                                    <li>Round Pot: {{detailsScope.detailsObject.round_winnings_percentage}}% </li>
                                    <li>Total Rounds: {{detailsScope.detailsObject.number_of_rounds}} </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div><!--/#price-table2     8/27/2016 11:30:00 AM-->

    </div>

    <div class="row" ng-hide="detailsScope.loading">

        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Team Name</th>
                    <th ng-repeat="round in detailsScope.detailsObject.league_teams[0].rounds| limitTo:-3">
                        {{round.short_name}}
                        <span ng-show="{{round.start_date | dateBeforeNow }} && {{round.end_date | dateAfterNow }}">
                            <script>
                                $(document).ready(function () {
                                    $('[data-toggle="tooltip"]').tooltip();
                                });
                            </script>
                            <span data-toggle="tooltip" title="Current Week. The possible score if the team wins all remaning open matches is shown as (x).">*</span>

                        </span>
                    </th>
                    <th st-sort="league_team_points_sum">Correct Picks</th>
                    <th st-sort="league_team_points_sum">Total Points</th>
                    <th st-sort="total_winnings">Winnings</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in detailsScope.detailsObject.league_teams">
                    <td>{{team.league_ranking}}. <b><a href="/user/team/details/{{team.id}}">{{team.name}}</a></b></td>
                    <td st-sort="round_points_sum" ng-repeat="round in team.rounds | limitTo:-3">
                        {{round.round_points_sum}} <span ng-show="round.round_open_sum">({{round.round_open_sum + round.round_points_sum}})</span>
                    </td>
                    <td style="width:50px;">{{team.league_points_per_pick}}</td>
                    <td style="width:50px;">{{team.league_team_points_sum}}</td>
                    <td style="width:75px;">{{team.total_winnings | currency}}</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>