<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://lineup-app.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lineup-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LineUp-App</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LineUp-App</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AdminEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=lineup.database.windows.net;Initial Catalog=LineUp-Database;User ID=LineUpAdmin;Password=LineUp2016;Application Name=EntityFramework" Name="Data Source=lineup.database.windows.net;Initial Catalog=LineUp-Database;User ID=LineUpAdmin;Password=LineUp2016;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LineUpApp.Models.AdminEntities, LineUpApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=lineup.database.windows.net;Initial Catalog=LineUp-Database;User ID=LineUpAdmin;Password=LineUp2016;Application Name=EntityFramework" Name="Data Source=lineup.database.windows.net;Initial Catalog=LineUp-Database;User ID=LineUpAdmin;Password=LineUp2016;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LineUpApp.Models.ApplicationDbContext, LineUpApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LineUpLibrary.Model.Entities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LineUpLibrary.Model.Entities, LineUpLibrary" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdminEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AdminModel.csdl|res://*/Models.AdminModel.ssdl|res://*/Models.AdminModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=lineup.database.windows.net;Initial Catalog=LineUp-Database;User ID=LineUpAdmin;Password=LineUp2016;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lineup.database.windows.net;Initial Catalog=LineUp-Database;User ID=LineUpAdmin;Password=LineUp2016;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LineUpLibrary.Model.Entities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LineUpLibrary.Model.Entities" />
  </ItemGroup>
</Project>