
<div class="container-fluid" ng-controller="gameDetailsCtrl">
    <div class="row">

        <div class="price-table2">
            <div class="row">
                <div>
                    <div class="single-table table-one">
                        <div class="table-header">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loader pull-right" ng-show="detailsScope.loading"></i>
                            <h2>{{detailsScope.header}}</h2>
                            <p class="plan-price"><span class="dollar-sign"></span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="panel panel-primary col-md-6">
            <div class="panel-heading">
                <h3 class="panel-title">Game Details</h3>
            </div>
            <div class="panel-body">
                details
            </div>
        </div>

        <div class="panel panel-primary col-md-6">
            <div class="panel-heading">
                <h3 class="panel-title">Game Teams/Outcomes</h3>
            </div>
            <div class="panel-body">
                teams
            </div>
        </div>

    </div>

    <div class="row">

        <div class="panel panel-primary col-md-12">
            <div class="panel-heading">
                <h3 class="panel-title">Game Details</h3>
            </div>
            <div class="panel-body">
                rounds
            </div>
        </div>

    </div>

</div>
