


<!--/#dashboard-->

<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5">
                <div class="sidebar-item categories">
                    <ul class="nav navbar-stacked">
                        <li><a href="/user/team/list">My Leagues<span class="pull-right"></span></a></li>
                        <li><a href="/user/league/select">Join League<span class="pull-right"></span></a></li>
                        <li><a href="/user/league/create">Create League<span class="pull-right"></span></a></li>
                    </ul>
                </div>
                <div class="sidebar blog-sidebar" ng-controller="make_PicksCtrl">
                    <div class="sidebar-item  recent">
                        <h3>Make Picks</h3>
                        <div class="media" ng-repeat="row in pickableList">
                            <div id="boxlink" class="pull-left box-round" >
                                <h7><a href="#" style="color:white">{{row.round_short_name}}</a></h7>
                            </div>
                            <div class="media-body">
                                <h4><a href="~/user/round/details/{{row.league_team_id}}/{{row.round_id}}">{{row.league_team_name}}</a></h4>
                                <p>pick by {{row.lock_date | jsonDate | date: 'MM-dd-yyyy HH:mm' }} UTC</p>
                            </div>
                        </div>
                   
                    </div>
                </div>

            </div>
            <div class="col-md-9 col-sm-7">

                <ng-view></ng-view>

            </div>
        </div>
    </div>

</section>


