@model IndexViewModel

<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item  recent">
                        <h3>Make Picks @*@User.Identity.Name*@</h3>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/portfolio/project1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Bachlorette Season 13</a></h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/portfolio/project2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Champions League 2016 League</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>My Info</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">My Leagues<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">My Teams<span class="pull-right">(8)</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>Administration</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">Game Types</a></li>
                            <li><a href="#">Leagues</a></li>
                            <li><a href="#">League Teams</a></li>
                            <li><a href="#">Rounds</a></li>
                            <li><a href="#">Matches</a></li>
                            <li><a href="#">Match Types</a></li>
                            <li><a href="#">Picks</a></li>
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Users</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="images/blog/7.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">Logged in Home Page - Announcements could go here</a></h2>
                                <p> fantasy sport (also known less commonly as rotisserie or roto) is a type of online game where participants assemble imaginary or virtual teams of real players of a professional sport. These teams compete based on the statistical performance of those players' players in actual games. This performance is converted into points that are compiled and totaled according to a roster selected by each fantasy team's manager. These point systems can be simple enough to be manually calculated by a "league commissioner" who coordinates and manages the overall league, or points can be compiled and calculated using computers tracking actual results of the professional sport. In fantasy sports, team owners draft, trade and cut (drop) players, analogously to real sports.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#Manage-->
