@*<div class="jumbotron">
    <h1><img class="center-block" src="~/Images/API-icon.png" /></h1>
    <p class=""><b>API and Documentation</b></p>
    
    <p><a href="@Url.Content("~/Help")" class="btn btn-primary btn-lg">API Documentation &raquo;</a></p>
</div>*@
<br />
<div class="row">
    <div class="text-center"><img src="~/Images/API-icon.png" /></div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Swagger Documentation</h2>
        <p>Check out the Swagger API Documentation as well. <br /> *Authorization is not currently working with Swagger.</p>
        <p><a class="btn btn-default" href="@Url.Content("~/swagger/")">Swagger &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fantasy Confidence Game</h2>
        <p>Under construction for ios...</p>
    </div>
    <div class="col-md-4">
        <h2>Admin Site</h2>
        <p>Login with an administrator account to configure league settings.</p>
        <p><a class="btn btn-default" href="http://lineup-admin.azurewebsites.net/">Administration &raquo;</a></p>
    </div>
</div>
