<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lineup-website.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lineup-website.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LineUp-Website</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LineUp-Website</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lineup.database.windows.net,1433;Initial Catalog=LineUp-Users;User ID=LineUpAdmin@lineup;Password=LineUp2016" Name="Data Source=tcp:lineup.database.windows.net,1433;Initial Catalog=LineUp-Users;User Id=LineUpAdmin@lineup;Password=LineUp2016" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:lineup.database.windows.net,1433;Initial Catalog=LineUp-Users;Persist Security Info=False;User ID=LineUpAdmin;Password=LineUp2016;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:lineup.database.windows.net,1433;Initial Catalog=LineUp-Users;Persist Security Info=False;User ID=LineUpAdmin;Password=LineUp2016;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:lineup.database.windows.net,1433;Initial Catalog=LineUp-Users;User ID=LineUpAdmin@lineup;Password=LineUp2016" Name="Data Source=tcp:lineup.database.windows.net,1433;Initial Catalog=LineUp-Users;User Id=LineUpAdmin@lineup;Password=LineUp2016" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lineup.database.windows.net;Initial Catalog=LineUp-Database;Persist Security Info=True;User ID=LineUpAdmin;Password=LineUp2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.LineUp_Model.csdl|res://*/Model.LineUp_Model.ssdl|res://*/Model.LineUp_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lineup.database.windows.net;initial catalog=LineUp-Database;persist security info=True;user id=LineUpAdmin;password=LineUp2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:lineup.database.windows.net,1433;initial catalog=LineUp-Users;user id=LineUpAdmin@lineup;password=LineUp2016;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.LineUp_Model.csdl|res://*/Model.LineUp_Model.ssdl|res://*/Model.LineUp_Model.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:lineup.database.windows.net,1433;initial catalog=LineUp-Users;user id=LineUpAdmin@lineup;password=LineUp2016;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>